%ol.breadcrumb
  %li.breadcrumb-item
    %a{:href => "#"} 25000 р 
  %li.breadcrumb-item.active 30000 р
.row
  - @categories.each do |category|
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.o-hidden.h-100{style: "background-color: #{category.color}"}
        .card-body
          .card-body-icon
            = fa_icon category.icon || 'list'
          .mr-5= category.title || 'Безымянная категория'
          .mr-5 #{calc_costs(category)} / #{category.month_budget || 'Не задано'}
        = link_to(new_operation_path(category: category.id), class: 'card-footer text-white clearfix small z-1') do
          %span.float-left Добавить операцию
          %span.float-right
            %i.fa.fa-angle-right
  .col-xl-3.col-sm-6.mb-3
    .card.text-white.bg-success.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_icon 'plus'
        = link_to 'Добавить категорию', new_category_path, class: 'mr-5'
      %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
        %span.float-left Добавить операцию
        %span.float-right
          %i.fa.fa-angle-right