.form
  = form_for @incomes_category, html: { multipart: true } do |f|
    - if @incomes_category.errors.any?
      = @incomes_category.errors.count
      - @incomes_category.errors.full_messages.each do |msg|
        %li= msg

    .form-group.row
      = f.label :title, class: 'col-sm-2 col-form-label'
      .col-sm-10
        = f.text_field :title, class: 'form-control'

    .form-group.row
      = f.label :icon, class: 'col-sm-2 col-form-label'
      .col-sm-10
        = f.text_field :icon, class: 'form-control'

    .form-group.row
      = f.label :color, class: 'col-sm-2 col-form-label'
      .col-sm-10
        = f.text_field :color, class: 'form-control'

    = f.submit 'сохранить', class: 'btn btn-success'
