%ol.breadcrumb
  %li.breadcrumb-item
    %a{:href => "#"} Категории
  %li.breadcrumb-item.active Счета
.row
  - @accounts.each do |account|
    .col-xl-3.col-sm-6.mb-3
      .card.text-white.o-hidden.h-100{style: "background-color: #{account.color}"}
        .card-body
          .card-body-icon
            = fa_icon account.icon || 'list'
          .mr-5= account.title || 'Безымянный счет'
          .mr-5= calc_balance(account)
        = link_to new_incomes_operation_path(account: account.id), class: 'card-footer text-white clearfix small z-1' do
          %span.float-left Добавить доход
          %span.float-right
            %i.fa.fa-angle-right
  .col-xl-3.col-sm-6.mb-3
    .card.text-white.bg-success.o-hidden.h-100
      .card-body
        .card-body-icon
          = fa_icon 'plus'
        = link_to 'Добавить категорию', new_account_path, class: 'mr-5 text-white'
      %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
        %span.float-left Добавить доход
        %span.float-right
          %i.fa.fa-angle-right